<%= erb :'template/header' %>    
    <script src="/sugar.min.js"></script>
    <script src="/ipam-load.js"></script>

    <!-- JQuery-UI -->
    <link rel="stylesheet" href="/jquery-ui/jquery.ui.all.css">
    <script src="/jquery-ui/jquery.ui.core.js"></script>
    <script src="/jquery-ui/jquery.ui.widget.js"></script>
    <script src="/jquery-ui/jquery.ui.accordion.js"></script>
    <script src="/jquery-ui/jquery.ui.tabs.js"></script>
    <title>IPAM</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <%= erb :'template/menu' %>
        <h3 class="text-muted"><a href="/"><img alt="IPAM" src="/logo.png" style="width:75px;height:50px;"/></a></h3>
      </div>

      <div id="tabs">
        <ul>
        </ul>
      </div>
    </div> <!-- /container -->
<%= erb :'template/footer' %>
