<%= erb :'template/header' %> 
  <script>
      function Preload() {
        $('#subnet').append("<option></option>");
        var freeSubnets = new Array();
        $.getJSON("/subnets.json?time=" + new Date(), function(jsonData){
          $.each(jsonData, function(i, j){
            if (j['allocated'] == "0"){
              freeSubnets.push(j['subnet']);
            }
          })
        });
        $.getJSON("/datacenters.json?time=" + new Date(), function(jsonData){
          $.each(jsonData.sort(sort_datacenter), function(i,j){
            $('#subnet').append(
                $('<optgroup></optgroup>').attr("label", j['name']).attr("id",j['name'])
               );
            $.each(j['subnets'].sort(sort_subnet), function(k,l){ 
              var opt = $('<option></option>').val(l).html(l);
              if (freeSubnets.indexOf(l) == -1){
                opt.attr('disabled', 'disabled');
              }
              $('#'+j['name']).append(
                opt
              );
              $("#subnet").trigger("chosen:updated");
            });
          });
        });
      }
    </script>

    <script>
      $(document).ready(function () {
        $(".chosen-select").chosen({disable_search_threshold: 10});
        Preload();
      });
    </script>

  <script src="/chosen/chosen.jquery.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/chosen/chosen.css">
  <title>IPAM - Remove  Subnet</title>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <%= erb :'template/menu' %>
        <h3 class="text-muted"><a href="/"><img alt="IPAM" src="/logo.png" style="width:75px;height:50px;"/></a></h3>
      </div>
      <div>
        <form role="form" action="/subnet" method="post" >
          <div class="form-group">
            <label for="Subnet">Subnet</label>
            <select class="form-control chosen-select" name="subnet" id="subnet" data-placeholder="Choose a Subnet...">
            </select>
            <input name="_method" type="hidden" value="delete" />
          </div>
          <button class="btn btn-large btn-primary" type="submit">Remove Subnet</button>
        </form>
      </div>
    </div>
<%= erb :'template/footer' %>
