<%= erb :'template/header' %>
  <title>IPAM - Welcome</title>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <%= erb :'template/menu' %>
        <h3 class="text-muted"><a href="/"><img alt="IPAM" src="/logo.png" style="width:75px;height:50px;"/></a></h3>
      </div>
      <div class="starter-template">
        <h1>IPAM: IP Address Management</h1>
<p class="lead">This is a tool for IP address management. Users can:</p>
        <ul>
          <li> Manage Data Center IP Address space</li>
          <li> Create subnets within a data center</li>
          <li> Allocate and Deallocate IP addresses</li>
        </ul>
        <p> If you don't have an account you may register by going to the Login button above and then clicking Register, or by clicking <a href="/register">here</a>.</p>
        <p><a href="https://docs.google.com/document/d/1mnMlWhEwdVQOnRS3ChrYqZNrsIz_ioASYQ2SopvreQY/edit?usp=sharing">Our User Manual</a></p>
        <p><a href="https://docs.google.com/document/d/14mQguzg7eqkj6ZC3QeXvZBfBToEtba0RrwRc3NLgH5A/edit?usp=sharing">Our Technical Manual</a></p>
      </div
    </div>
<%= erb :'template/footer' %>
