    <script src="/dist/js/bootstrap.js"></script>
    <script>
      //var alertTest = [{'text':'test','type':'info'}, {'text':'test','type':'danger'}, {'text':'test','type':'success'}, {'text':'test','type':'warning'}];
      //showAlerts(alertTest);
    </script>
  </body>
</html>
